body {
  color: #333333; /* Text color */
  background-color: #EE9972; /* Background color */
}

nav {
  background-color: #FBDABB;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container img {
  height: 40px;
  margin-right: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #495E57;
  font-weight: bold;
  font-size: 20px;
}

nav ul li a:hover {
  color: #000;
}
